<h1><%=@event.name%></h1>

<div> 
<%=@event.category%>
</div>

<div> 
<%=@event.place%>
</div>

<div>
<%=@event.address%>
</div>

<div>
<%=@event.datestart%>
</div>

<div>
<%=@event.datefinish%>
</div>

<div>
<%=@event.type%>

</div>

<div>
	<%=link_to "Eliminar Evento", @event, method: :delete %>
</div>